@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.box{
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 50px rgb(120, 221, 228);
}

.box form{
  position: absolute;
  inset: 4px;
  padding: 50px 40px;
  z-index: 2;
  justify-content: center;
}
.typewriter {
  width: fit-content;
  padding: 0;
  overflow: hidden; /* Ensures the text stays within the element */
  border-right: .15em solid black; /* The cursor */
  white-space: nowrap; /* Keeps the text on a single line */
  margin: 0 auto; /* Center the text */
  letter-spacing: .10em; /* Adds some space between the letters */
  animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 17ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}
.navbar-toggler {
  border: 1px solid white;
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.animated-box {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.glow-on-hover {
  width: 125px;
  height: 50px;
  overflow: hidden;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.animated-hr {
  width: 0;
  height: 2px;
  background-color: white;
  border: none;
  margin-top: 20px;
  animation: expandHr 1.5s ease-in-out forwards;
}

@keyframes expandHr {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
