<nav class="navbar navbar-expand-lg shadow">
  <a class="navbar-brand" href="#"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="margin-right: 10px;"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: white" (click)="changePage('Home')">Home</a>
      </li>
      <li class="nav-item active mt-2">
        <a class="nav-link" style="color: white" (click)="changePage('Experience')">Experience</a>
      </li>
      <li class="nav-item active mt-2">
        <a class="nav-link" href="#" style="color: white">Projects</a>
      </li>
      <li class="nav-item active mt-2">
        <a class="nav-link" href="#" style="color: white">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mx-auto my-auto mt-5 text-white">
  <div class="box text-center mx-auto my-auto animated-box" *ngIf="isHome">
    <span class="borderLine"></span>
    <form>
      <img src="https://shreekrushnashinde1.netlify.app/assets/profile-pic.png" alt="img" class="circle" width="150px" height="150px">
      <div class="mt-3">
        <h2>Hi! <span style="color: #45f3ff;">I'm</span></h2>
        <h3>Shreekrushna Shinde,</h3>
          <h2 class="typewriter" style="color: #ff2770;">Software Engineer</h2>
      </div>
      <hr class="animated-hr">
      <div class="mt-3">
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <button class="glow-on-hover" type="button" (click)="changePage('Experience')">Experience</button>
          </div>
          <div class="p-2">
            <button class="glow-on-hover" type="button">Education</button>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div class="p-2">
            <button class="glow-on-hover" type="button" (click)="changePage('Projects')">Projects</button>
          </div>
          <div class="p-2">
            <button class="glow-on-hover" type="button" (click)="changePage('Contact')">Contact</button>
          </div>
        </div>
        <div class="col mt-3">
          <button class="glow-on-hover" type="button" style="width: 100%;" (click)="downloadCV()" >Download CV</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="isExperience" class="col text-center">
    Total Experience:- 1+ years
  </div>
  <div class="box text-center mx-auto my-auto animated-box mt-2" *ngIf="isExperience">
    <span class="borderLine"></span>
    <form>
      <hr class="animated-hr">
      Mean Stack Developer
      <hr class="animated-hr">
      <div style="overflow: scroll;height: 237px;">
        <ol>
          <li>Develop and maintain web applications using the MEAN stack (MongoDB, Express.js, Angolar, Node.js).</li><br>
          <li>Write clean, scalable, and efficient code for both the frontend and backend.</li><br>
          <li>Develop RESTful APIs using Express.js and Node.js.</li><br>
          <li>Integrate external APIs and third-party services</li><br>
          <li>Write unit tests, integration tests, and end-to-end tests to ensure application quality</li><br>
          <li>Debug and resolve issues and bugs in a timely manner.</li><br>
        </ol>
      </div>
      <hr class="animated-hr">
      <div class="mt-3">
        <div class="d-flex justify-content-between">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Home')">Home</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button">Education</button>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Projects')">Projects</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Contact')">Contact</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box text-center mx-auto my-auto animated-box mt-2" *ngIf="isContact">
    <span class="borderLine"></span>
    <form>
      <hr class="animated-hr">
      <div>
        Contact
      </div>
      <hr class="animated-hr">
      <div class="d-flex justify-content-between">
        <div>
          <button class="glow-on-hover" type="button" (click)="makeCall()">Call</button>
        </div>
        <div>
          <button class="glow-on-hover" type="button" (click)="sendEmail()">Email</button>
        </div>
      </div>
      <hr class="animated-hr" style="margin-top: 190px;">
      <div>
        <div class="d-flex justify-content-between">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Experience')">Experience</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button">Education</button>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Projects')">Projects</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Home')">Home</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box text-center mx-auto my-auto animated-box mt-2" *ngIf="isProjects">
    <span class="borderLine"></span>
    <form>
      <div style="overflow: scroll;height: 350px;">
      <hr class="animated-hr">
      1) DP360CRM
      <hr class="animated-hr">
        <ol>
          <li>I worked on maintaining application functionality and improving performance in a project</li><br>
          <li>Additionally, I gained experience in manual testing to ensure quality and reliability</li><br>
        </ol>
        <hr class="animated-hr">
        <div>
          1.1) Technology Used
        </div>
        <hr class="animated-hr">
        <span>HTML5,CSS3,JAVASCRIPT,<br>TYPESCRIPT,SCSS,SASS,<br>ANGULAR,JASMINE</span>
      </div>
      <hr class="animated-hr" style="margin-top: 30px;">
      <div>
        <div class="d-flex justify-content-between">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Experience')">Experience</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button">Education</button>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Home')">Home</button>
          </div>
          <div>
            <button class="glow-on-hover" type="button" (click)="changePage('Contact')">Contact</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
